﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <script src="../../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/bootbox.min.js"></script>
    <script src="../../Scripts/tablesorter/jquery.tablesorter.combined.min.js"></script>
    <title>Product App</title>
</head>
<body>
<div>
    <div id="container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/Components/App.jsx")"></script>

    
    <button type="button" class="btn btn-primary glyphicon glyphicon-minus" onclick="delete_entity($('#prodId').val());"></button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></button>
    <p id="product"/>
</div>
<div>
    <h2>All Products<span id="badge" class="badge"></span>
    </h2>
    <table id="table" class="table table-bordered tablesorter">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new Car</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Id</span>
                    <input id="carid" type="text" class="form-control" placeholder="Car id">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input id="carname" type="text" class="form-control" placeholder="Car name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input id="carprice" type="text" class="form-control" placeholder="Car price">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Color</span>
                    <input id="carcolor" type="text" class="form-control" placeholder="Car color">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="add_car()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var uri = 'api/cars';

    $(document).ready(function() {
        $("#table").tablesorter();
        $('[data-toggle="tooltip"]').tooltip();
        $("alert").hide();
        var count = 0;
        $('td:nth-child(1),th:nth-child(1)').hide();
        // Send an AJAX request
        $.ajax({
            url: uri,
            type: "GET",
            contentType: "application/json",
            success: function(data) {
                $.each(data,
                    function(i, item) {
                        var table = document.getElementById("table");

                        // Create an empty <tr> element and add it to the 1st position of the table:
                        var row = table.insertRow(1);

                        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);

                        // Add some text to the new cells:
                        cell1.innerHTML = item.Id;
                        cell2.innerHTML = '<div data-toggle="tooltip" title="' + item.Id + '">' + item.Name + '</div>';
                        cell3.innerHTML = item.Price;
                        cell4.innerHTML = item.Color;
                        $('td:nth-child(1),th:nth-child(1)').hide();
                        count = count + 1;
                    });
                var $badge = $('#badge');
                $badge.html(count);
            },
            error: function() {
            }
        });
    });

    function formatItem(item) {
        return item.Id + ' ' + item.Name + ' ' + item.Price + ' ' + item.Color;
    }

    function delete_entity(id) {
        $.ajax({
            url: uri + '?id=' + id,
            type: "GET",
            contentType: "application/json",
            success: function(data) {
                $.ajax({
                    url: uri + '?id=' + id,
                    type: "DELETE",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function() {
                        display_msg("Deleted successfully");
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        display_msg(xhr.status);
                    }
                });
            },
            error: function(xhr, ajaxOptions, thrownError) {
                display_msg(thrownError);
            }
        });
    }

    function add_car() {
        item = {}
        item["Id"] = $('#carid').val();;
        item["Name"] = $('#carname').val();;
        item["Price"] = $('#carprice').val();;
        item["Color"] = $('#carcolor').val();;
        $.ajax({
            url: uri,
            type: "Post",
            data: JSON.stringify(item),
            contentType: "application/json",
            success: function() {
                $('#myModal').modal('hide');
                display_msg("A new car has been added");
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $('#myModal').modal('hide');
                display_msg(xhr.status);
            }
        });
    }

    function display_msg(txt) {
        bootbox.alert({
            message: txt,
            backdrop: true
        });
    }
</script>
</body>
</html>