.jumbotron {
    background-color: rgba(red, green, blue) !important;
    padding-top: 1vh !important;
    padding-bottom: 1% !important;
    border-radius: 1vh;
    padding-left: 2vh;
    margin-bottom: 2vh !important;
}

.label {
    background-color: #337ab7 !important;
}

.commentsBody {
    margin: 0, auto !important;
}