.body {
  padding-top: 10vh;
  animation-name: 'moveBody';
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.search{
  padding-bottom: 1vh;
  align-content: center;
}

@keyframes moveBody {
  from { right: 100vh; }
  to { right: -50vh; }
}
